<div class="education" id="education">
    <div class="container cc-education">
        <div class="h2 text-center mb-4 title">My <span style="color: #F6BB0A">Education</span> </div>
            <div class="card">
                <div class="row">
                    <div class="edu">
                        <div class="card-body cc-education-header">
                            <p>2018-2021</p>
                        <div class="h5">Bachelor Degree</div>
                        </div>    
                    </div>
                    <div class="col-md-8" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Bachelor of Computer Appliction</div>
                                <h4 class="category">School Of Management Sciences</h4>
                                <ul>
                                        <li>Completed B.E in Computer Engineering with <b>68 %</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="card">
                <div class="row">
                    <div class=" edu" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2016-2018</p>
                        <div class="h5">Sr.Sedcondary School</div>
                        </div>    
                    </div>
                    <div class="col-md-8" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">Sr.Sedcondary School</div>
                                <h4 class="category">INTERMEDIATE COLLEGE</h4>
                                <ul>
                                        <li>Completed with <b>70% </b>aggregate.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class=" edu" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2014-2015</p>
                        <div class="h5">Sedcondary School</div>
                        </div>    
                    </div>
                    <div class="col-md-8" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Sedcondary School</div>
                                <h4 class="category">Kachhawa Christian School</h4>
                                <ul>
                                        <li>Completed with <b>8.2 CGPA</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
</div>                                               
</div>