<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">HIMANSHU</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse  justify-content-between;" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Projects</a>
        </li>
      </ul>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <button type="button" class="btn navbar-btn">
            <span class="glyphicon glyphicon-plus"></span> 
            Contact
          </button>
        </li>
      </ul>
    
  </div>
</nav>