@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');

a{
    text-decoration: none;
    color: rgba(34, 54, 69, 7);
    font-weight: 500;
    font-size: 20PX;
}
/*-----#FFD6B8----*/
.nav-link:hover {
    color: #F6BB0A ;
}

.navbar-nav{
    gap: 4rem;
    font-family: 'Poppins', sans-serif;
    margin-left: 25px;
}

.navbar{
    background: white;
    padding: 1rem 2rem;
    height: 0rem;
    min-height: 12vh;
}

.navbar.navbar-brand{
   padding: 1rem;
   display: block;
   text-decoration: none;
}
.navbar-brand{
    font-size: 30px;
}

.btn{
    border-radius: 34px;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    background: linear-gradient(180deg, #F6BB0A 26.71%, #FBE551 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(232, 248, 11, 0.42);
    
}
.btn:hover{
    background: white;
    color: #F6BB0A;
    cursor: pointer;
    border: 1px solid #F6BB0A;
}
@media(max-width: 480px){
    .nav{
        display: none;
    }

    .navbar-nav{
        gap: 0rem;
        font-family: 'Poppins', sans-serif;
        margin-left: 0rem;
        text-align: right;
        border-top-left-radius: 190px;
        background-color: #F6BB0A;
    }
    .nav-link:hover {
        color: #000 ;
    }
    .navbar-toggler,
    .navbar-toggler-icon{
        color: #F6BB0A;
    }
    .navbar-nav li{
        margin-right: 20px;
    }
} 