<div class="section">
    <div class="container">
        <div class="h2 text-center mb-4 title">My <span style="color: #F6BB0A">Skills</span> </div>
        <div class="card" data-aos="fade-up" data-aos-offset="10">
           <div class="skills">
            <div class="skill-bar">
               <div class="info">
                <p>Java</p>
                <p>90%</p>
               </div>
               <div class="bar">
                <span class="Java"></span>
               </div>
            </div>

            <div class="skill-bar">
                <div class="info">
                 <p>SpringBoot</p>
                 <p>80%</p>
                </div>
                <div class="bar">
                 <span class="spring"></span>
                </div>
             </div>

             <div class="skill-bar">
                <div class="info">
                 <p>REST API</p>
                 <p>70%</p>
                </div>
                <div class="bar">
                 <span class="rest"></span>
                </div>
             </div>

            <div class="skill-bar">
                <div class="info">
                 <p>HTML</p>
                 <p>90%</p>
                </div>
                <div class="bar">
                 <span class="html"></span>
                </div>
             </div>

             <div class="skill-bar">
                <div class="info">
                 <p>CSS</p>
                 <p>60%</p>
                </div>
                <div class="bar">
                 <span class="css"></span>
                </div>
             </div>

            
             <div class="skill-bar">
                <div class="info">
                 <p>TypeScript</p>
                 <p>65%</p>
                </div>
                <div class="bar">
                 <span class="type"></span>
                </div>
             </div>

             <div class="skill-bar">
                <div class="info">
                 <p>Angular</p>
                 <p>70%</p>
                </div>
                <div class="bar">
                 <span class="angular"></span>
                </div>
             </div>

             <div class="skill-bar">
                <div class="info">
                 <p>MS SQL</p>
                 <p>80%</p>
                </div>
                <div class="bar">
                 <span class="sql"></span>
                </div>
             </div>
           </div>
        </div>
    </div>

    <div class="blur-rig" style="background-color:rbg(238 210 255)"></div>
    <div class="blur-lef" style="background-color:rbg(238 210 255)"></div> 
</div>